@import '../../../styles/variables.scss';

.dietsAndNutrition-women{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    p{
        font-size: 1rem;
    }
    .col{
        flex:inherit;
    }
    .first-section-dietsAndNutrition-women{
        width: 75%;
        i{
            margin-left: 0;
            margin-bottom: 1rem;
        }
        .row > * {
            max-width: inherit;
        }
        .body-dietsAndNutrition-women{ 
            display: flex;
            flex-direction: column;
            section{
                .li-dietsAndNutrition{
                    margin-left: 1rem;
                    margin-bottom: 1rem;
                }
                .li-dietsAndNutrition-sublist{
                    margin-left: 0.2rem;
                    position: relative;
                    color: $blue;
                    font-weight: bolder;
                    margin-bottom: 0.5rem;
                }
                .li-dietsAndNutrition-sublist::marker{
                    visibility: visible;
                }
            }
            .row >*{
                padding: 0rem;
                margin: 0;
            }
            .img-dietsAndNutrition-women{
                margin: 0;
                margin-bottom: 3rem;
                i{
                    font-size: 0.8rem;
                }
            }
            .icons-dietsAndNutrition-women{
                display: flex;
                width: 0;
                flex-direction: row;
                flex-wrap: nowrap;
                padding: 0;
                margin: 0;
                gap: 1rem;
                margin-bottom: 1.5rem;
                .icon-facebook{
                    background-color: $blue;
                    padding: 0.7rem 1.2rem;
                    @include flex-center;
                    border-radius: 10%;
                    .icon-facebook::before{
                        border: 1px solid $blue;
                        background-color: $blue;
                        font-size: 1.2rem;
                    }
                }
                .icon-facebook:hover{
                    color: $white;
                    background-color:$blue-light;
                }
                .icon-instagram{
                    background-color: $blue-teal;
                    padding: 0.7rem 1.2rem;
                    @include flex-center;
                    border-radius: 10%;
                    .icon-instagram::before{
                        border: 1px solid $blue-teal;
                        background-color: $blue-teal;
                        font-size: 1.2rem;
                    }
                }
                .icon-instagram:hover{
                    color: $white;
                    background-color: $blue-teal-light;
                }
                .icon-twitter{
                    background-color: $green;
                    padding: 0.7rem 1.2rem;
                    @include flex-center;
                    border-radius: 10%;
                    .icon-twitter::before{
                        border: 1px solid $green;
                        background-color: $green;
                        font-size: 1.2rem;
                    }
                }
                .icon-twitter:hover{
                    color: $white;
                    background-color: $green-light;
                }
            }
            .links-dietsAndNutrition-women{
                color:$blue-links;
                font-weight: 700;
            }
            .links-dietsAndNutrition-women:hover{
                text-decoration: underline;
            }
            .square-dietsAndNutrition-women{
                padding: 0.5rem;
                width: 100%;
                background-color: $grey-light;
                padding-left: 0;
                margin:0;
                margin-bottom: 1rem;
                .title-square-dietsAndNutrition-women{
                    text-align: center;
                    font-weight: 700;
                }
                ul li{
                    list-style: none;
                    padding-left: 1rem;
                    color: $blue-links;
                }

            }
        }
        .aside{
            background-color: $red;
        }
    }

    h3,h5{
        font-weight: 700;
    }
}

@media (max-width: 420px) {
    .dietsAndNutrition-women{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0.5rem;
        padding-right:0rem;
        .first-section-dietsAndNutrition-women{
            width: 100%;
        }
        p{
            padding-left: 0rem;
        }
    }

}