@import '../../../styles/variables.scss';

.beginners-exercises-training{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    .col{
        flex:inherit;
    }
    .first-section-beginners{
        width: 75%;
        i{
            margin-left: 0;
            margin-bottom: 1rem;
        }
        .row > * {
            max-width: inherit;
        }
        .body-beginners-training{ 
            display: flex;
            flex-direction: column;
            .img-beginners{
                margin-bottom: 3rem;
            }
            .icons-beginners{
                display: flex;
                width: 0;
                flex-direction: row;
                flex-wrap: nowrap;
                padding: 0;
                margin: 0;
                gap: 1rem;
                margin-bottom: 1.5rem;
                .icon-facebook{
                    background-color: $blue;
                    padding: 0.7rem 1.2rem;
                    @include flex-center;
                    border-radius: 10%;
                    .icon-facebook::before{
                        border: 1px solid $blue;
                        background-color: $blue;
                        font-size: 1.2rem;
                    }
                }
                .icon-facebook:hover{
                    color: $white;
                    background-color:$blue-light;
                }
                .icon-instagram{
                    background-color: $blue-teal;
                    padding: 0.7rem 1.2rem;
                    @include flex-center;
                    border-radius: 10%;
                    .icon-instagram::before{
                        border: 1px solid $blue-teal;
                        background-color: $blue-teal;
                        font-size: 1.2rem;
                    }
                }
                .icon-instagram:hover{
                    color: $white;
                    background-color: $blue-teal-light;
                }
                .icon-twitter{
                    background-color: $green;
                    padding: 0.7rem 1.2rem;
                    @include flex-center;
                    border-radius: 10%;
                    .icon-twitter::before{
                        border: 1px solid $green;
                        background-color: $green;
                        font-size: 1.2rem;
                    }
                }
                .icon-twitter:hover{
                    color: $white;
                    background-color: $green-light;
                }
            }
            .links-beginners{
                color:$blue-links;
                font-weight: 700;
            }
            .links-beginners:hover{
                text-decoration: underline;
            }
            .square-beginners{
                padding: 0.5rem;
                width: 100%;
                background-color: $grey-light;
                padding-left: 0;
                margin:0;
                margin-bottom: 1rem;
                .title-square-beginners{
                    text-align: center;
                    font-weight: 700;
                }
                ul li{
                    list-style: none;
                    padding-left: 1rem;
                    color: $blue-links;
                }

            }
        }
        .aside{
            background-color: $red;
        }
    }

    h3,h5{
        font-weight: 700;
    }
}