@import '../../../styles/variables.scss';

.rotator-training{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    p{
        font-size: 1rem;
    }
    .col{
        flex:inherit;
    }
    .first-section-rotator{
        width: 75%;
        i{
            margin-left: 0;
            margin-bottom: 1rem;
        }
        .row > * {
            max-width: inherit;
        }
        .body-rotator-training{ 
            display: flex;
            flex-direction: column;
            section{
                .block-rotator-img{
                    display: flex;
                    flex-wrap: nowrap;
                    margin: 0;
                    margin-top: 1rem;
                    .text-block-rotator{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        padding-right: 0;
                        width: 60%;
                    }
                    .img-block-rotator{
                        position: relative;
                        padding-right: 0;
                        width: 40%;
                        margin-left: 2rem;
                    }
                }
                .double-img-block{
                    margin:0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .double-img{
                        padding: 0;
                        width:75%;
                        margin-top: 0.5rem;
                        margin-bottom: 1.5rem;
                    }
                }
                .text-blue{
                    color: $blue;
                    font-size: 1.15rem;
                    font-weight: 500;
                    line-height: 23px;
                    margin: 3rem;
                    text-align: center;
                }
                .box-rotator-parrafo{
                    background-color: $grey-light;
                    padding: 1rem;
                    padding-right: 0;
                    margin-bottom: 1rem;
                    margin-left: 0rem;
                    margin-top: 1rem;
                    border-left: 10px solid $blue;
                    width: 100%;
                    .rotator-training-square{
                        margin-bottom: 0;
                        font-size: 1.4rem;
                        text-align: center;
                        .title-red-rotator-square{
                            color: $red;
                            font-size: 1.4rem;
                        }
                    }
                }
                .box-rotator-parrafo{
                    background-color: $grey-light;
                    padding: 1rem;
                    padding-right: 0;
                    margin-bottom: 1rem;
                    margin-left: 0rem;
                    margin-top: 1rem;
                    border-left: 10px solid $blue;
                    width: 100%;
                    .rotator-training-square{
                        margin-bottom: 0;
                        font-size: 1.4rem;
                        text-align: center;
                        .title-red-rotator-square{
                            color: $red;
                            font-size: 1.4rem;
                        }
                    }
                }
                table{
                    width: 100%;
                    margin-bottom: 1rem;
                }
                table, th, td {
                    border: 1px solid $grey-light;
                }
                table thead tr td{
                    background-color: $blue;
                    color: $white;
                    padding: 0.2rem;
                    font-weight: 700;
                }
                table tbody tr td{
                    padding: 0.2rem;
                }
                tbody tr:nth-child(even){
                    background-color: $grey;
                }
                .noneBorder{
                    border:0px;
                }
            }
            .img-aerobic{
                margin-bottom: 3rem;
            }
            .icons-rotator{
                display: flex;
                width: 0;
                flex-direction: row;
                flex-wrap: nowrap;
                padding: 0;
                margin: 0;
                gap: 1rem;
                margin-bottom: 1.5rem;
                .icon-facebook{
                    background-color: $blue;
                    padding: 0.7rem 1.2rem;
                    @include flex-center;
                    border-radius: 10%;
                    .icon-facebook::before{
                        border: 1px solid $blue;
                        background-color: $blue;
                        font-size: 1.2rem;
                    }
                }
                .icon-facebook:hover{
                    color: $white;
                    background-color:$blue-light;
                }
                .icon-instagram{
                    background-color: $blue-teal;
                    padding: 0.7rem 1.2rem;
                    @include flex-center;
                    border-radius: 10%;
                    .icon-instagram::before{
                        border: 1px solid $blue-teal;
                        background-color: $blue-teal;
                        font-size: 1.2rem;
                    }
                }
                .icon-instagram:hover{
                    color: $white;
                    background-color: $blue-teal-light;
                }
                .icon-twitter{
                    background-color: $green;
                    padding: 0.7rem 1.2rem;
                    @include flex-center;
                    border-radius: 10%;
                    .icon-twitter::before{
                        border: 1px solid $green;
                        background-color: $green;
                        font-size: 1.2rem;
                    }
                }
                .icon-twitter:hover{
                    color: $white;
                    background-color: $green-light;
                }
            }
            .links-rotator{
                color:$blue-links;
                font-weight: 700;
            }
            .links-rotator:hover{
                text-decoration: underline;
            }
            .square-rotator{
                padding: 0.5rem;
                width: 100%;
                background-color: $grey-light;
                padding-left: 0;
                margin:0;
                margin-bottom: 1rem;
                .title-square-rotator{
                    text-align: center;
                    font-weight: 700;
                }
                ul li{
                    list-style: none;
                    padding-left: 1rem;
                    color: $blue-links;
                }

            }
        }
        .aside{
            background-color: $red;
        }
    }

    h3,h5{
        font-weight: 700;
    }
}
@media (max-width: 420px) {
    .rotator-training{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0.5rem;
        padding-right: 0rem;
        .first-section-rotator{
            width: 100%;
            .body-rotator-training{ 
                display: flex;
                flex-direction: column;
            } 
        }  
        p{
            padding-left: 0rem;
        }
    }
}
        
