@import '../../styles/variables.scss';

.block-aside{
    position:relative;
   .titles-section{
    position: sticky;
    top: 20px;
    width: 100%;
    padding-left: 2rem;
    margin:0;
    .block-img-section{
        width: 100%;
        padding: 0;
        .title-section-words{
            margin-bottom: 1rem;
            text-align: start;
            padding-left: 0;
        }
        .block-img-title{
            display: flex;
            padding-right: 0;
            padding-bottom: 1rem;
            .img-aside{
                padding: 0;
                width: 100px;
            }
            .title-aside{
                padding-left: 1rem;
                text-align: justify;
            }
        }
    }
    h3{
        font-size: 0.9rem;
    }
   }
}

@media (max-width: 420px) {
    .block-aside{
        position:relative;
        .row >*{
            margin-right: inherit;
            margin-left: inherit;
        }
       .titles-section{
        padding-left: 0rem;
            .block-img-section{
                .block-img-title{
                    .title-aside{
                        a{
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }
}