@import './mixings.scss';
//Variables proyecto

$white: white;
$blue-teal: rgb(68, 221, 213);
$blue-teal-light:rgb(212, 248, 248);
$blue-links:rgb(24, 89, 144);
$blue: #061af4;
$blue-light:rgb(140, 140, 176);
$black:black;
$red:red;
$royal-blue:#2053EC;
$green:green;
$green-light:rgb(138, 250, 138);
$grey-light:rgb(249, 249, 249);