@import '../../../styles/variables.scss';

.big-body-builders-exercises-training{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    p{
        font-size: 1rem;
    }
    .col{
        flex:inherit;
    }
    .first-section-big-body-builders{
        width: 75%;
        i{
            margin-left: 0;
            margin-bottom: 1rem;
        }
        .row > * {
            max-width: inherit;
        }
        .body-big-body-builders-training{ 
            display: flex;
            flex-direction: column;
            .block-big-body-builders{
                display: flex;
                flex-wrap:nowrap;
            }
            .data-img-body-builders{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 1rem;
            }
            .img-big-body-builders{
                width: 50%;
                margin-top: 1rem;
                min-height: 250px;
            }
            .btn-outline-primary{
                border-radius: 0px;
                color: $white;
                background: $blue;
                border-radius:5%;
                max-width: 100px;
            }
            .btn-outline-primary:hover{
                border-radius: 0px;
                color: $white;
                transition:0.5s;
                background: $black;
                border-radius:5%;
            }
            .icons-big-body-builders{
                display: flex;
                width: 0;
                flex-direction: row;
                flex-wrap: nowrap;
                padding: 0;
                margin: 0;
                gap: 1rem;
                margin-bottom: 1.5rem;
                .icon-facebook{
                    background-color: $blue;
                    padding: 0.7rem 1.2rem;
                    @include flex-center;
                    border-radius: 10%;
                    .icon-facebook::before{
                        border: 1px solid $blue;
                        background-color: $blue;
                        font-size: 1.2rem;
                    }
                }
                .icon-facebook:hover{
                    color: $white;
                    background-color:$blue-light;
                }
                .icon-instagram{
                    background-color: $blue-teal;
                    padding: 0.7rem 1.2rem;
                    @include flex-center;
                    border-radius: 10%;
                    .icon-instagram::before{
                        border: 1px solid $blue-teal;
                        background-color: $blue-teal;
                        font-size: 1.2rem;
                    }
                }
                .icon-instagram:hover{
                    color: $white;
                    background-color: $blue-teal-light;
                }
                .icon-twitter{
                    background-color: $green;
                    padding: 0.7rem 1.2rem;
                    @include flex-center;
                    border-radius: 10%;
                    .icon-twitter::before{
                        border: 1px solid $green;
                        background-color: $green;
                        font-size: 1.2rem;
                    }
                }
                .icon-twitter:hover{
                    color: $white;
                    background-color: $green-light;
                }
            }
            .links-big-body-builders{
                color:$blue-links;
                font-weight: 700;
            }
            .links-big-body-builders:hover{
                text-decoration: underline;
            }
            .square-big-body-builders{
                padding: 0.5rem;
                width: 100%;
                background-color: $grey-light;
                padding-left: 0;
                margin:0;
                margin-bottom: 1rem;
                .title-square-big-body-builders{
                    text-align: center;
                    font-weight: 700;
                }
                ul li{
                    list-style: none;
                    padding-left: 1rem;
                    color: $blue-links;
                }

            }
        }
    }
    
    h3,h5{
        font-weight: 700;
    }
}

@media (max-width: 420px) {
    .big-body-builders-exercises-training{
        display: flex;
        align-items: center;
        justify-content: center;
        .first-section-big-body-builders{
            width: 100%;
            padding-left:0.5rem;
            padding-right: 0.5rem;
            .body-big-body-builders-training{
                padding-right: 0;
                .row {
                    margin-right: 0;
                    margin-left: 0;
                }
                .images-content{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .row {
                        margin-right: 0;
                        margin-left: 0;
                    }
                    .img-big-body-builders{
                        width: 100%;
                        padding: 0;
                        margin-bottom: 1rem;
                    }
                }
                .block-big-body-builders{
                    display: flex;
                    flex-wrap:nowrap;
                    margin-bottom: 1rem;
                    .data-img-body-builders{
                        margin-top: 0;
                        margin-left: 1rem;
                        h3{
                            
                            font-size: 1rem;
                        }
                    }
                    .img-big-body-builders{
                        all:unset;
                        width: 324px;
                        height: 100px;
                    }
                    .parrafo-img-body-builders{
                        display: none;
                    }
                    .btn-outline-primary{
                        display: none;
                    }
                }
            }
        }
        p{
            padding-left: 0rem;
        }
    }

}