.header,.container{
    display: flex;
    flex-direction: column;
    max-width: none;
    margin: 0;
    padding: 0;
    z-index:9;
}
a{
    text-decoration:none;
    color: black;
}

a:hover{
    color:blue
}

.me-auto{
    gap:1rem;
}
.dropdown{
    width: 100%;
    transition:2s;
    position: relative;
}
.dropdown::after{
    content: "";
    transform:scale(0);
    opacity:0;
}
.dropdown:hover::after{
    opacity:1;
    border-bottom: 3px solid blue;
    width: 100%;
    position:absolute;
    transform:scale(1);
    transform-origin:bottom center;
    transition:transform 0.3s ease-in-out;
}
.header-links{
    display: flex;
    gap: 1rem;
    justify-content: right;
    background-color: #004793;
    padding: 0.4rem;
    align-items: right;
    padding-right: 10%;
}
.header-img{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}
.header-img-logo{
    width: 14rem;
}
.icon-facebook,.icon-instagram,.icon-twitter,.icon-youtube{
    color:white;
    font-size: 0.8rem;
    text-decoration: none;
}
.icon-search{
    display: inline-flex;
    font-size: 1rem;
    cursor:pointer;
    align-items: center;
    padding-bottom: 1rem;
}
.pesao{
    width: 20rem;
    height: 20rem;
    background-color: red;
}
#menu ul{
    display: flex;
}
.container-navbar::before{
    content: "";
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAMBAMAAABRpcpkAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMGAhQQCyEd++8AAAAUSURBVAjXY1AAQgMgdABCCBAAQQAT6AFRBPHcWgAAAABJRU5ErkJggg==);
    width: 100%;
    height: 12px;
    position: absolute;
    left: 0;
    bottom: -12px;
    z-index: -9;
}



