@import '../../styles/variables.scss';

.header{
    display: flex;
    flex-direction: column;
    max-width: none;
    margin: 0;
    padding: 0;
    z-index:9;
    width: 100%;
}
a{
    text-decoration:none;
    color: $black;
}

a:hover{
    color:$blue-teal;
}

.dropdown{
    width: 100%;
    transition:2s;
    position: relative;
}
.dropdown::after{
    content: "";
    transform:scale(0);
    opacity:0;
}
.dropdown:hover::after{
    opacity:1;
    border-bottom: 3px solid $blue;
    width: 100%;
    position:absolute;
    transform:scale(1);
    transform-origin:bottom center;
    transition:transform 0.3s ease-in-out;
}
.header-links{
    display: flex;
    gap: 1rem;
    justify-content: right;
    background-color: $blue;
    padding: 0.4rem;
    align-items: right;
    padding-right: 10%;
    width: 100%;
}
.header-img{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}
.header-img-logo{
    width: 14rem;
}
.icon-facebook,.icon-instagram,.icon-twitter,.icon-youtube{
    color:$white;
    font-size: 0.8rem;
    text-decoration: none;
}
.icon-search{
    display: inline-flex;
    font-size: 1rem;
    cursor:pointer;
    align-items: center;
    padding-bottom: 1rem;
}
.pesao{
    width: 20rem;
    height: 20rem;
    background-color: $red;
}
#menu ul{
    display: flex;
}
.container-navbar::before{
    content: "";
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAMBAMAAABRpcpkAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMGAhQQCyEd++8AAAAUSURBVAjXY1AAQgMgdABCCBAAQQAT6AFRBPHcWgAAAABJRU5ErkJggg==);
    width: 100%;
    height: 12px;
    position: absolute;
    left: 0;
    bottom: -12px;
    margin-bottom: 1rem;
}
.me-auto{
    width: 100%;
    @include flex-center;
}
.navbar-expand-lg {
    width: 100%;
}
.navbar-toggler{
    margin-bottom: 1rem;
}

@media (max-width: 576px) {
    #menu{
        width: 100%;
    }
    .navbar-collapse{
        width: 100%;
        padding-left: 3rem;
    }
    #menu ul{
        display: block;
    }
    .header-links{
        display: none;
    }
    .header{
        display: flex;
        flex-direction: row-reverse;
        margin-left: 1rem;
        .header-img{
            .header-img-logo{
                width: 100px;
            }
        }
    }
    
}
