.header,.container{
    display: flex;
    flex-direction: column;
    max-width: none;
    margin: 0;
    padding: 0;
}
.header-links{
    display: flex;
    gap: 1rem;
    justify-content: right;
    background-color: #004793;
    padding: 0.4rem;
    align-items: right;
    padding-right: 10%;
}
.header-img{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}
.header-img-logo{
    width: 14rem;
}
.icon-facebook,.icon-instagram,.icon-twitter,.icon-youtube{
    color:white;
    font-size: 0.8rem;
    text-decoration: none;
}

