.header,.container{
    display: flex;
    flex-direction: column;
    max-width: none;
    margin: 0;
    padding: 0;
}
.me-auto{
    gap:1rem;
}
.dropdown{
    width: 100%;
    transition:2s;
    position: relative;
}
.dropdown::after{
    content: "";
    transform:scale(0);
    opacity:0;
}
.dropdown:hover::after{
    opacity:1;
    border-bottom: 3px solid blue;
    width: 100%;
    position:absolute;
    transform:scale(1);
    transform-origin:bottom center;
    transition:transform 0.3s ease-in-out;
}
.header-links{
    display: flex;
    gap: 1rem;
    justify-content: right;
    background-color: #004793;
    padding: 0.4rem;
    align-items: right;
    padding-right: 10%;
}
.header-img{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}
.header-img-logo{
    width: 14rem;
}
.icon-facebook,.icon-instagram,.icon-twitter,.icon-youtube{
    color:white;
    font-size: 0.8rem;
    text-decoration: none;
}
.icon-search{
    padding-left: 2rem;
    font-size: 1rem;
    cursor:pointer;
}
.pesao{
    width: 20rem;
    height: 20rem;
    background-color: red;
}



