@import '../../styles/variables.scss';

.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    .first-section{
        width: 60%;
        margin-bottom: 3rem;
    }
    .second-section{
        width: 60%;
    }
    .margin-bottom{
        margin-bottom: 3rem;
    }
    .first-image,.second-image,.third-image{
        display: flex;
        position: relative;
        border:5px solid $white;
        box-sizing: border-box;
        padding: 0;
        overflow: hidden;
        transition:all 500ms ease;
    }
    
    .img-fluid:hover{
        transition:0.4s;
        transform:scale(1.2);
    }
    .subtitle{
        position: absolute;
        bottom:0;
        background-color: rgb(32, 83, 236, 0.6);
        color:rgb(255, 255, 255);
        font-weight: 700;
        width: 100%;
        padding-left:0.5rem;
    }
    .subtitle-big{
        position: absolute;
        bottom:0;
        font-size: 1.5rem;
        background-color: rgb(32, 83, 236, 0.6);
        color:rgb(255, 255, 255);
        font-weight: 700;
        width: 100%;
        padding-left:0.5rem;
    }
    .subtitle:hover,.subtitle-big:hover{
        color:rgb(255, 255, 255);
    }
    .titles-section{
        width: 60%;
        margin-bottom: 3rem;
    }
    .title-section-words{
        text-align: center;
        padding: 0.7rem 0.7rem;
        font-size:0.9rem;
        letter-spacing: 1px;
        font-weight:700;
        border-top: 2px solid rgb(53, 55, 148);
        border-bottom: 2px solid rgb(53, 55, 148);
        margin-bottom: 3rem;
    }
}
.row>*{
    padding-left:0
}
p{
    font-size: 0.9rem;
}
i{
    margin-left: 1rem;
}
