.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.block-images{
    width: 60%;
    margin-bottom: 3rem;
}
.first-image,.second-image,.third-image{
    display: flex;
    position: relative;
    border:5px solid white;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    transition:all 500ms ease;
}

.img-fluid:hover{
    transition:0.4s;
    transform:scale(1.2);
}

.subtitle{
    position: absolute;
    bottom:0;
    background-color: rgb(32, 83, 236, 0.6);
    color:rgb(255, 255, 255);
    font-weight: 700;
    width: 100%;
}
.subtitle:hover{
    color:rgb(255, 255, 255);
}
.routines-gym{
    width: 60%;
}
.title-routines-gym{
    text-align: center;
    padding: 1rem 1rem;
    font-size:0.95rem;
    letter-spacing: 1px;
    font-weight:700;
    border-top: 2px solid rgb(53, 55, 148);
    border-bottom: 2px solid rgb(53, 55, 148);
    margin-bottom: 3rem;
}

