@import '../../styles/variables.scss';

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:0;
    min-width: 100%;
    margin-right: 0;
    padding: 0;
}
.row>*{
    padding-left:0
}
p{
    font-size: 1rem;
}
i{
    margin-left: 1rem;
}
.first-section{
    width: 75%;
    margin-bottom: 3rem;
}
.second-section{
    width: 75%;
}
.margin-bottom{
    margin-bottom: 3rem;
}
.first-image,.second-image,.third-image{
    display: flex;
    position: relative;
    border:5px solid $white;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    transition:all 500ms ease;
}
.third-image{
    display: flex;
    flex-direction: column;
}
.img-fluid{
    height: 100%;
}
.img-fluid:hover{
    transition:0.4s;
    transform:scale(1.2);
}
.subtitle{
    position: absolute;
    bottom:0;
    background-color: rgb(32, 83, 236, 0.6);
    color:rgb(255, 255, 255);
    font-weight: 700;
    width: 100%;
    padding-left:0.5rem;
}
.subtitle-big{
    position: absolute;
    bottom:0;
    font-size: 1.5rem;
    background-color: rgb(32, 83, 236, 0.6);
    color:rgb(255, 255, 255);
    font-weight: 700;
    width: 100%;
    padding-left:0.5rem;
}
.subtitle:hover,.subtitle-big:hover{
    color:rgb(255, 255, 255);
}
.titles-section{
    width: 75%;
    margin-bottom: 3rem;
}
.title-section-words{
    text-align: center;
    padding: 0.7rem 0.7rem;
    font-size:0.9rem;
    letter-spacing: 1px;
    font-weight:700;
    border-top: 2px solid rgb(53, 55, 148);
    border-bottom: 2px solid rgb(53, 55, 148);
    margin-bottom: 3rem;
}

@media (max-width: 420px) {
    .container{
        font-size:0.8rem;
        .subtitle-big{
            font-size:0.8rem;
        }
        .title-section-words{
            font-size: 0.7rem;
        }
        .margin-bottom{
            margin-bottom: 1rem;
        }
        .first-section{
            width: 100%;
            margin-bottom: 1rem;
            .third-image{
                border:0px;
                margin-bottom: 0.2rem;
            }
        }
        .second-section{
            width: 100%;
            .first-image,.second-image,.third-image{
                border:0px;
                margin-bottom: 0.2rem;
            }
        }
        .titles-section{
            width: 100%;
            margin-bottom: 0rem;
        }
        .title-section-words{
            margin-bottom: 0.5rem;
            text-align: start;
        }
        p{
            font-size: 0.7rem;
            padding-left: 0.7rem;
        }
    }
}
@media (max-width: 520px) {

    .inicio{
        display: flex;
        .subtitle-big{
            font-size:0.8rem;
        }
        .navbar-light{
            all:unset;
            margin-left: 3rem;
            .navbar-toggler{
                margin-bottom: 0;
            }
        }
    }
}
