@import './styles/variables.scss';

.back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 2rem;
    right: 1rem;
    bottom: 2rem;
    height: 2rem;
    background-color: $blue-teal;
    border-radius: 50%;
    border:0;
    transition:bottom 1s ease-in-out;
}

.hiddin{
    position: fixed;
    bottom: -3rem;
}
.icon-circle-up{
    color: $blue;
    font-size: 2rem;
}

@media (max-width: 420px) {
    .back-to-top {
        bottom: 2.7rem;
    }
    .hiddin{
        position: fixed;
        bottom: -3rem;
    }
    .icon-circle-up{
        color: $blue;
        font-size: 2rem;
    }
}