.back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 2rem;
    right: 1rem;
    bottom: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    border:0;
}
.hiddin{
    display: none;
}
.icon-circle-up{
    color: rgb(8, 47, 238);
    font-size: 2rem;
}